.comp
{
    width: 240px;
    height: 400px;
    border-radius: 10px;
    border:2px solid black;
    margin-top: 7%;
    margin-left: 40%;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-color: antiquewhite;
    
}
.f
{
    border-top: 1px solid black;
}
.l{
    text-decoration: b;
}
body{
    background-color:#80808036;
}